

  
  .menu{
      background-color: rgb(0, 0, 0);
  }
  
  .cta {
      width:80%;
      background-color: rgba(0, 0, 0, 0.80);
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      max-width: 500px; 
  }
  
  
  .dspecial {
      width:80%;
      background-color: rgba(0, 0, 0, 0.80);
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      max-width: 500px; 
  }
  
  
  .button {
      font-family:'Fira Sans', sans-serif;
      margin-right:30%;
      margin-left:30%;
      margin-bottom:20px;
      margin-top:20px;
      font-size:20px;
      text-align:center;
      display: inline-block;
      align-self:center;
      padding: 10px 20px;
      border: none;
      border-radius: 10px; /* Adjust the border-radius to control the roundness */
      background-color: #db5212; /* Button background color */
      color: #ffffff; /* Text color */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the shadow values */
      transition: background-color 0.3s, transform 0.2s;
      cursor: pointer;
      width:40%;
    }
    
    .button:hover {
      background-color: #ca490dc2; /* Change the background color on hover */
      transform: translateY(-2px); /* Add a slight lift on hover */
    }
    
  
  body {
      background-image: url(platter.jpeg);
      background-size: auto;
      background-position: top center;
  }
  
  main {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: white(255, 255, 255);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /*title*/
  h1, h3, p { 
      text-align: center;
  }
  
  li, ul, ol, p, h1, h2, h3, h4, h5, h6 {
      color: white;
  }
  
  .menu{
      width:80%;
      background-color: rgba(0, 0, 0, 0.80);
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      max-width: 500px;
  }
  
  .food{
      text-align: left;
      width:75%
  }
  
  .price{
      text-align:right;
      width:25%;
  }
  
  .item p{
      display: inline-block;
  }
  
  /*typography*/
  h1{
      font-family:'Vampiro One', sans-serif;
      font-size:100px;
  }
  
  h2, h3, h4{
      font-family:'Fira Sans', sans-serif;
  }
  
  h2 {
  font-size: 24px;
  }
  
  p, li{
      font-family:'Martel Sans', sans-serif;
  }
  
  p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
  }

main p {
    text-align:left;
    line-height:1.5px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size:18px;
}
  
  h3 {
      font-size: 20px;
      margin-top: 20px;
  }
  
  
  h4 {
      font-size: 18px;
      margin-top: 15px;
  }
  
  
  
  footer {
      text-align: center;
      padding: 10px;
      background-color: #000000;
      color: #fff;
  }
  
  table, th, td{
      border:1px solid black;
      border-collapse: collapse;
  }
  
  /* Reset some default browser styles */
  body, h1, h2, h3, h4, p, ul, ol, li, table {
      margin: 0;
      padding: 0;
  }

  /* Style images */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  /* Style links */
  a {
    color: #007BFF;
    text-decoration: none;
}

h5 {
    text-align:left;
    font-size: 40px;
    font-family:'Fira Sans', sans-serif;
    margin:0px;

}

.sushititles {
    text-align:left;
    width:85%;
    font-size: 35px;
    margin-left:10px;
}

.menusectiontitle {
    display: flex;
    align-items: center;
    margin-bottom:10px;
}

.sushiicons {
    width: 15%;
}

